.git/
.gradle/
.idea/
build/classes/
build/dependency-cache/
build/distributions/
build/libs/gainmaster-body-measurements-service-0.1.0.jar
build/libs/gainmaster-body-measurements-service-0.1.0.jar.original
build/libs/gainmaster-body-measurements-service-0.1.0.war.original
build/resources/
build/scripts/
build/tmp/
src/
.editorconfig
.gitattributes
build.gradle
.gitignore
build.sh
gainmaster-body-measurements-service.iml
README.md
